src/es/telecor/virtualtraining/plataformadenegocio/plantillas/plantilla_info.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="info">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="proyecto">
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute type="xs:string" name="name"/>
                                <xs:attribute type="xs:string" name="cliente"/>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="version"/>
                <xs:element type="xs:byte" name="empresa"/>
                <xs:element type="xs:string" name="tipo"/>
                <xs:element type="xs:date" name="fecha"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>